.header {
	padding: 20px;
}

.header-menu, .header-menu-left {
	display: block;
	text-decoration: none;
	color: #191919;
	padding: 5px;
}

.header-menu {
	float: right;
	margin-right: 50px;
}

.header-menu-left {
	float: left;
	margin-left: 50px;
}

.header-menu-left.active {
	background-color: #191919;
	color: white;
}

.content {
	clear: both;
	padding: 50px 100px;
	font-size: 14pt;
}

.content-title {
	font-size: 28pt;
	font-weight: bold;
	margin-bottom: 50px;
}

.content-title-selected {
	margin-top: 150px;
}

input, textarea {
	font-size: 14pt;
}

input[type="text"], input[type="number"], textarea {
	padding: 5px;
	margin-top: 10px;
}

.label {
	display: inline-block;
	padding: 5px;
	margin-right: 10px;
	border-radius: 5px;
	font-size: 12pt;
	vertical-align: top;
	margin-top: 12px;
}

.form-update-package-name {
	display: inline-block;
}

.form-delete {
	display: inline-block;
}

.service-group {
	margin-bottom: 100px;
}

.service-group-title span {
	background-color: #D1C4E9;
}

.service-area span {
	background-color: #B388FF;
}

.btn-insert-package {
	width: 200px;
}

.service-package-title {
	margin-top: 40px;
}

.service-package-title span {
	background-color: #EF9A9A;
}

.service-package-title, .service-price {
	margin-left: 30px;
}

.service-price span {
	background-color: #76FF03;
}

.service-price input {
	width: 70px;
}

.service-name, .service-note {
	margin-left: 60px;
}

.service-name span {
	background-color: #81D4FA;
	margin-top: 20px;
}

.service-name textarea {
	width: 500px;
	min-height: 200px;
	margin-top: 15px;
}

.service-note span {
	background-color: #FFFF00;
	margin-top: 20px;
}

.service-note textarea {
	width: 400px;
	min-height: 200px;
	margin-top: 15px;
}

.btn {
	padding: 5px 0;
	border: 0;
	font-size: 14pt;
	cursor: pointer;
}

.btn-update {
	width: 100px;
	background-color: #1E88E5;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}

.btn-insert-package {
	padding: 10px 0;
	margin-top: 30px;
	margin-left: 30px;
	width: 200px;
	background-color: #1E88E5;
	color: white;
}

.btn-submit-insert-package {
	margin: 50px auto 0;
	display: block;
	padding: 10px 0;
	width: 200px;
	background-color: #1E88E5;
	color: white;
}

.btn-delete {
	background-color: #F44336;
	color: white;
	padding: 5px 10px;
	margin-left: 20px;
}

.btn-insert-group {
	position: fixed;
	bottom: 30px;
	right: 30px;
	background-color: #1E88E5;
	color: white;
	padding: 10px 20px;
}

.dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	background-color: #EEE;
	box-shadow: 0 0 10px #777;
	padding: 20px;
	height: 550px;
	display: none;
}

.dialog.show {
	display: block;
}

.btn-close-dialog {
	float: right;
	font-size: 18pt;
	font-weight: bold;
	cursor: pointer;
}

.dialog-title {
	font-size: 18pt;
	font-weight: bold;
	margin-bottom: 30px;
}

.dialog-item {
	margin-bottom: 10px;
}

.dialog textarea {
	width: 400px;
	height: 100px;
	margin-left: 5px;
}