.header {
	padding: 20px;
}

.header-menu, .header-menu-left {
	display: block;
	text-decoration: none;
	color: #191919;
	padding: 5px;
}

.header-menu {
	float: right;
	margin-right: 50px;
}

.header-menu-left {
	float: left;
	margin-left: 50px;
}

.header-menu-left.active {
	background-color: #191919;
	color: white;
}

.content {
	clear: both;
	padding: 50px 100px;
	font-size: 14pt;
}

.content-title {
	font-size: 28pt;
	font-weight: bold;
	margin-bottom: 50px;
}

.content-title-selected {
	margin-top: 150px;
}

input {
	font-size: 14pt;
}

input[type="text"] {
	padding: 5px;
	margin-top: 10px;
}

.label {
	display: inline-block;
	padding: 5px;
	margin-right: 10px;
	border-radius: 5px;
	font-size: 12pt;
}

.service-group {
	margin-bottom: 100px;
}

.service-group-title span {
	background-color: #D1C4E9;
}

.service-area span {
	background-color: #B388FF;
}

.service-package-title {
	margin-top: 40px;
}

.service-package-title span {
	background-color: #EF9A9A;
}

.service-package-title, .service-price {
	margin-left: 30px;
}

.service-price span {
	background-color: #76FF03;
}

.service-price input {
	width: 70px;
}

.service-name, .service-note {
	margin-left: 60px;
}

.service-name span {
	background-color: #81D4FA;
}

.service-name input {
	width: 500px;
}

.service-note span {
	background-color: #FFFF00;
}

.service-note input {
	width: 300px;
}

.btn {
	padding: 5px 0;
	width: 100px;
	background-color: #1E88E5;
	color: white;
	border: 0;
	font-size: 14pt;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
}