.header {
	padding: 20px;
}

.header-menu, .header-menu-left {
	display: block;
	text-decoration: none;
	color: #191919;
	padding: 5px;
}

.header-menu {
	float: right;
	margin-right: 50px;
}

.header-menu-left {
	float: left;
	margin-left: 50px;
}

.header-menu-left.active {
	background-color: #191919;
	color: white;
}

.content {
	clear: both;
	padding: 50px 100px;
}

.content-title {
	font-size: 28pt;
	font-weight: bold;
	margin-bottom: 50px;
}

form {
	display: inline-block;
}

.edit-item {
	margin-bottom: 50px;
	overflow: auto;
}

.no {
	display: inline-block;
	font-weight: bold;
	font-size: 24pt;
	margin-top: -200px;
	vertical-align: middle;
	margin-right: 20px;
}

.image {
	display: inline-block;
	overflow: auto;
}

img {
	display: block;
	margin-top: 10px;
}

.input-name {
	display: inline-block;
	font-size: 14pt;
	vertical-align: middle;
	margin-top: -200px;
	margin-left: 50px;
}

.btn {
	padding: 10px 15px;
	font-size: 14pt;
	background-color: #191919;
	color: white;
	border: 1px solid #191919;
	cursor: pointer;
	margin-top: -200px;
	margin-left: 50px;
	display: inline-block;
	vertical-align: middle;
}

.btn-save {
	background-color: #191919;
	color: white;
	border: 1px solid #191919;
}

.btn-delete {
	vertical-align: middle;
	margin-bottom: 100px;
	background-color: #F44336;
	color: white;
	border: 1px solid #F44336;
}

.btn:disabled {
	background-color: #DDD;
	color: #777;
	border: 1px solid #DDD;
	cursor: default;
}

.btn-add {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 60px;
	height: 60px;
	background-color: #1e88e5;
	border: 0;
	border-radius: 100%;
	color: white;
	font-size: 28pt;
	cursor: pointer;
	box-shadow: 0 0 10px #555;
}

.dialog {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 500px;
	min-height: 280px;
	box-shadow: 0 0 20px #777;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
}

.dialog.hidden {
	display: none;
}

.dialog-btn-close {
	float: right;
	font-weight: bold;
	font-size: 16pt;
	cursor: pointer;
}

.dialog-title {
	font-size: 18pt;
	font-weight: bold;
	margin-bottom: 50px;
}

.form-item {
	margin-bottom: 20px;
	font-size: 14pt;
}

.form-label {
	display: inline-block;
	width: 50px;
}

.form-input {
	font-size: 14pt;
}

.form-input-at {
	width: 100px;
}

.form-input-index {
	width: 50px;
	text-align: center;
}

input.hidden {
	visibility: hidden;
}

.form-input-image-preview {
	max-width: 300px;
	max-height: 250px;
}

.btn-submit, .btn-cancel {
	border: 0;
	background-color: #1E88E5;
	color: white;
	width: 100px;
	height: 40px;
	font-size: 14pt;	
	cursor: pointer;
	float: right;
	margin-top: 20px;
	box-shadow: 0 0 5px #555;
	border-radius: 2px;
}

.btn-cancel {
	background-color: #757575;
	margin-right: 20px;
}