.header {
	padding: 20px;
}

.header-menu, .header-menu-left {
	display: block;
	text-decoration: none;
	color: #191919;
	padding: 5px;
}

.header-menu {
	float: right;
	margin-right: 50px;
}

.header-menu-left {
	float: left;
	margin-left: 50px;
}

.header-menu-left.active {
	background-color: #191919;
	color: white;
}

.content {
	clear: both;
	padding: 50px 100px;
}

h1 {
	margin-bottom: 30px;
}

.form-item {
	margin-bottom: 15px;
}

.label {
	font-size: 14pt;
	display: inline-block;
	width: 200px;
}

input {
	font-size: 14pt;
	padding: 5px;
}

button {
	font-size: 14pt;
	padding: 10px 20px;
	cursor: pointer;
}

.error-message, .success-message {
	padding: 20px;
	margin-bottom: 20px;
}

.error-message {
	background-color: #FFCDD2;
	color: red;
}

.success-message {
	background-color: #A5D6A7;
	color: green;
}