.section-1-center {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.section-1-title {
    text-align: center;
    margin-bottom: 50px;
}

.form {
    position: relative;
    margin-bottom: 50px;
}

input, textarea {
    padding: 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: transparent;
    font-family: copperplate-light;
}

textarea {
    resize: none;
}

input:focus, textarea:focus {
    outline: none;
}

.form-label {
    color: #999;
    position: absolute;
    pointer-events: none;
    font-size: 10pt;
    left: 5px;
    top: 4px;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

input:focus ~ .form-label, input:valid ~ .form-label, textarea:focus ~ .form-label, textarea:valid ~ .form-label {
    top: -15px;
    font-size: 8pt;
}

.input-nama {
    width: 250px;
}

.input-hp {
    width: 160px;
}

.input-pesan {
    width: 500px;
}

.btn-kirim-pesan {
    cursor: pointer;
    text-align: center;
    border: 1px solid #444;
    padding: 15px 0;
    border-radius: 5px;
    margin-bottom: 75px;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-kirim-pesan span {
    font-size: 10pt;
}

.arrow {
    display: inline-block;
    width: 30px;
    height: 12px;
    margin-bottom: -2px;
    margin-left: 10px;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-kirim-pesan:hover {
    background-color: #252525;
}

.btn-kirim-pesan:hover svg rect, .btn-kirim-pesan:hover svg polygon {
    fill: white;
}

.btn-kirim-pesan:hover span {
    color: white;
}

.btn-kirim-pesan:hover > .arrow {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
}

.section-footer {
    position: absolute;
    bottom: 50px;
    width: 100vw;
}

.social-media {
    text-align: center;
    margin-top: 50px;
}

.social-media-item {
    font-family: copperplate-light;
    display: inline-block;
    text-decoration: none;
    color: #444;
    margin-right: 50px;
    font-size: 11pt;
}

.social-media-item:nth-child(3) {
    margin-right: 0;
}

.social-media-item-icon {
    width: 25px;
    height: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: -12px;
    margin-right: 10px;
}