.section-1-center {
    position: absolute;
}

.section-1-title {
    text-align: center;
}

.form {
    position: relative;
}

input, textarea {
    padding: 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: transparent;
    font-family: copperplate-light;
}

textarea {
    resize: none;
}

input:focus, textarea:focus {
    outline: none;
}

.form-label {
    color: #999;
    position: absolute;
    pointer-events: none;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.btn-kirim-pesan {
    display: block;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    border: 1px solid #444;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.arrow {
    display: inline-block;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-kirim-pesan:hover {
    background-color: #252525;
}

.btn-kirim-pesan:hover svg rect, .btn-kirim-pesan:hover svg polygon {
    fill: white;
}

.btn-kirim-pesan:hover span {
    color: white;
}

.section-footer {
    position: absolute;
    width: 100vw;
}

.social-media-item {
    font-family: copperplate-light;
    text-decoration: none;
    color: #444;
}

.social-media-item-icon {
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
}

@media all and (max-width: 1024px) {
    .section {
        height: 180vw;
    }

    .section-1-center {
        display: block;
        top: 20vw;
        width: 100vw;
        padding: 5vw;
        text-align: center;
    }

    .section-1-title {
        margin-bottom: 15vw;
        font-size: 4.5vw;
    }

    .form {
        margin-bottom: 12vw;
    }

    .form-label {
        font-size: 4vw;
        left: 1vw;
        top: 1vw;
    }

    input:focus ~ .form-label, input:valid ~ .form-label, textarea:focus ~ .form-label, textarea:valid ~ .form-label {
        top: -3vw;
        font-size: 3vw;
    }

    input, textarea {
        font-size: 4vw;
    }

    .input-nama {
        width: 100%;
    }
    
    .input-hp {
        width: 45vw;
    }
    
    .input-pesan {
        width: 100%;
    }

    .btn-kirim-pesan {
        padding: 4vw 0;
        border-radius: 5px;
        margin-bottom: 10vw;
    }

    .btn-kirim-pesan span {
        font-size: 3.5vw;
    }

    .arrow {
        width: 10vw;
        height: 4vw;
        margin-bottom: -0.5vw;
        margin-left: 3vw;
    }

    .section-footer {
        top: 120vw;
    }

    .social-media {
        text-align: left;
    }

    .social-media-item {
        display: block;
        font-size: 4vw;
        margin-bottom: 3vw;
    }

    .social-media-item-icon {
        width: 7vw;
        height: 7vw;
        margin-bottom: -2vw;
        margin-right: 2vw;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .section-1-center {
        top: 65vw;
    }
}

@media all and (min-width: 1025px) {
    .section-1-center {
        top: 50%;
        left: 50%;
        display: inline-block;

        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .section-1-title {
        margin-bottom: 50px;
    }

    .form {
        margin-bottom: 50px;
    }

    .form-label {
        font-size: 10pt;
        left: 5px;
        top: 4px;
    }

    input:focus ~ .form-label, input:valid ~ .form-label, textarea:focus ~ .form-label, textarea:valid ~ .form-label {
        top: -15px;
        font-size: 8pt;
    }

    .input-nama {
        width: 250px;
    }
    
    .input-hp {
        width: 160px;
    }
    
    .input-pesan {
        width: 500px;
    }

    .btn-kirim-pesan {
        padding: 15px 0;
        border-radius: 5px;
        margin-bottom: 75px;
    }

    .btn-kirim-pesan span {
        font-size: 10pt;
    }

    .arrow {
        width: 30px;
        height: 12px;
        margin-bottom: -2px;
        margin-left: 10px;
    }

    .btn-kirim-pesan:hover > .arrow {
        -webkit-transform: translateX(5px);
        -moz-transform: translateX(5px);
        -ms-transform: translateX(5px);
        -o-transform: translateX(5px);
        transform: translateX(5px);
    }

    .section-footer {
        bottom: 50px;
    }

    .social-media {
        text-align: center;
        margin-top: 50px;
    }

    .social-media-item {
        display: inline-block;
        margin-right: 50px;
        font-size: 11pt;
    }

    .social-media-item:nth-child(3) {
        margin-right: 0;
    }

    .social-media-item-icon {
        width: 25px;
        height: 30px;
        margin-bottom: -12px;
        margin-right: 10px;
    }
}