.content {
    background-color: #F9F9F9;
}

.section-1-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
}

@-webkit-keyframes section-1-image-container-anim {
    to {
        opacity: 1;
    }
}

@keyframes section-1-image-container-anim {
    to {
        opacity: 1;
    }
}

.section-1.show .section-1-image-container {
    -webkit-animation-name: section-1-image-container-anim;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 1.5s;
    -moz-animation-name: section-1-image-container-anim;
    -moz-animation-duration: 0.6s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-delay: 1.5s;
    -ms-animation-name: section-1-image-container-anim;
    -ms-animation-duration: 0.6s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-delay: 1.5s;
    -o-animation-name: section-1-image-container-anim;
    -o-animation-duration: 0.6s;
    -o-animation-fill-mode: forwards;
    -o-animation-delay: 1.5s;
    animation-name: section-1-image-container-anim;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

.section-1-center {
    position: absolute;
}

.section-1-logo {
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    opacity: 0;
}

.section-1-ericwee {
    text-align: center;
    opacity: 0;
}

.section-1.show .section-1-logo, .section-1.show .section-1-ericwee {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.section-1-text {
    opacity: 0;
    text-align: center;
}

.section-1.show .section-1-text {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.arrow {
    display: inline-block;

    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.section-2 {
    background-color: #F9F9F9;
}

.section-2-title {
    text-align: center;
    opacity: 0;
}

.section-2-see-all-our-works {
    display: block;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    color: #000;
    opacity: 0;
}

.section-2-see-all-our-works span {
    font-family: copperplate-light;
}

.section-2.show .section-2-see-all-our-works {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.selected-works-container {
    width: 100%;
    overflow-y: visible;
    position: relative;
    opacity: 0;
}

.section-2.show .selected-works-container {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.selected-work-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.selected-work-image {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px #777;
}

.image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media all and (max-width: 1024px) {
    .section-1-center {
        display: block;
        top: 80vw;
        width: 100vw;
        text-align: center;

        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .section-1-logo {
        width: 15vw;
        height: 7.5vw;
    }

    .section-1-ericwee {
        font-size: 3vw;
        margin-top: 3vw;
    }

    .section-1-text {
        font-size: 3vw;
        margin-top: 5vw;
        line-height: 6vw;
        padding: 0 5vw;
    }

    .arrow {
        width: 8vw;
        height: 3.2vw;
        margin-bottom: -0.7vw;
        margin-left: 2vw;
    }

    .section-2 {
        height: auto;
        padding-bottom: 30vw;
    }

    .section-2-title {
        font-size: 4vw;
        margin-top: 20vw;
    }

    .section-2-see-all-our-works {
        font-size: 3.5vw;
        margin-top: 5vw;
    }

    .selected-works-container {
        height: auto;
        margin-top: 100px;
    }
    
    .selected-work {
        width: 60vw;
        height: 60vw;
        margin: 0 auto 10vw;
    }

    .selected-works-arrow-left, .selected-works-arrow-right, .selected-works-left, .selected-works-right {
        display: none;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .section-1-center {
        top: 65vw;
    }

    .selected-works-container {
        height: 60vw;
    }

    .selected-work {
        position: absolute;
        width: 60vw;
        height: 60vw;
        margin: 0;
        left: -120vw;
    }

    .selected-work-1 {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    
    .selected-work-2 {
        -webkit-transform: translateX(70vw);
        -moz-transform: translateX(70vw);
        -ms-transform: translateX(70vw);
        -o-transform: translateX(70vw);
        transform: translateX(70vw);
    }

    .selected-work-3 {
        -webkit-transform: translateX(107.5vw);
        -moz-transform: translateX(107.5vw);
        -ms-transform: translateX(107.5vw);
        -o-transform: translateX(107.5vw);
        transform: translateX(140vw);
    }
    
    .selected-work-4 {
        -webkit-transform: translateX(210vw);
        -moz-transform: translateX(210vw);
        -ms-transform: translateX(210vw);
        -o-transform: translateX(210vw);
        transform: translateX(210vw);
    }
    
    .selected-work-5 {
        -webkit-transform: translateX(280vw);
        -moz-transform: translateX(280vw);
        -ms-transform: translateX(280vw);
        -o-transform: translateX(280vw);
        transform: translateX(280vw);
    }

    .selected-works-arrow-left, .selected-works-arrow-right {
        display: block;
        position: absolute;
        width: 10vw;
        height: 10vw;
        background-size: 100%;
        background-repeat: no-repeat;
        top: 25vw;
    }
    
    .selected-works-arrow-left {
        left: 10vw;
    }
    
    .selected-works-arrow-right {
        right: 10vw;
        transform: rotate(180deg);
    }
    
    .selected-works-left, .selected-works-right {
        display: block;
        position: absolute;
        top: 0;
        width: 20vw;
        height: 60vw;
        z-index: 10;
        cursor: pointer;
    }
    
    .selected-works-left {
        left: 0;
    }
    
    .selected-works-right {
        right: 0;
    }
}

@media all and (min-width: 1025px) {
    .section-1-center {
        top: 50%;
        left: 50%;
        display: inline-block;

        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .section-1-logo {
        width: 70px;
        height: 37px;
    }

    .section-1-ericwee {
        font-size: 10pt;
        margin-top: 5px;
    }

    .section-1-text {
        font-size: 10pt;
        margin-top: 20px;
        line-height: 20px;
    }

    .arrow {
        width: 30px;
        height: 12px;
        margin-bottom: -3px;
        margin-left: 10px;
    }

    .section-2 {
        height: 110vh;
    }

    .section-2-title {
        font-size: 12pt;
        margin-top: 100px;
    }

    .section-2-see-all-our-works {
        width: 300px;
        font-size: 10pt;
        margin-top: 20px;
    }

    .section-2-see-all-our-works:hover > .arrow {
        -webkit-transform: translateX(5px);
        -moz-transform: translateX(5px);
        -ms-transform: translateX(5px);
        -o-transform: translateX(5px);
        transform: translateX(5px);
    }

    .selected-works-container {
        height: 475px;
        margin-top: 100px;
    }

    .selected-work {
        position: absolute;
        width: 400px;
        height: 400px;
        left: -800px;
    }

    .selected-work-1 {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    .selected-work-2 {
        -webkit-transform: translateX(600px);
        -moz-transform: translateX(600px);
        -ms-transform: translateX(600px);
        -o-transform: translateX(600px);
        transform: translateX(600px);
    }

    .selected-work-3 {
        -webkit-transform: translateX(calc(600px + 100vw / 2)) scale(1.3, 1.3);
        -moz-transform: translateX(calc(600px + 100vw / 2)) scale(1.3, 1.3);
        -ms-transform: translateX(calc(600px + 100vw / 2)) scale(1.3, 1.3);
        -o-transform: translateX(calc(600px + 100vw / 2)) scale(1.3, 1.3);
        transform: translateX(calc(600px + 100vw / 2)) scale(1.3, 1.3);
    }
    
    .selected-work-4 {
        -webkit-transform: translateX(calc(600px + 100vw));
        -moz-transform: translateX(calc(600px + 100vw));
        -ms-transform: translateX(calc(600px + 100vw));
        -o-transform: translateX(calc(600px + 100vw));
        transform: translateX(calc(600px + 100vw));
    }
    
    .selected-work-5 {
        -webkit-transform: translateX(calc(1600px + 100vw));
        -moz-transform: translateX(calc(1600px + 100vw));
        -ms-transform: translateX(calc(1600px + 100vw));
        -o-transform: translateX(calc(1600px + 100vw));
        transform: translateX(calc(1600px + 100vw));
    }

    .selected-works-arrow-left, .selected-works-arrow-right {
        position: absolute;
        width: 50px;
        height: 50px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .selected-works-arrow-left {
        top: 170px;
        left: calc((100vw / 2 - (1.3 * 400px / 2) + 200px) / 2 - 25px);
    }
    
    .selected-works-arrow-right {
        top: 170px;
        left: calc((100vw / 2 + (1.3 * 400px / 2) + (100vw - 200px)) / 2 - 25px);
        transform: rotate(180deg);
    }
    
    .selected-works-left, .selected-works-right {
        position: absolute;
        top: 0;
        width: calc((100vw / 2 - (1.3 * 400px / 2) + 200px) / 2 + 25px);
        height: 400px;
        z-index: 10;
        cursor: pointer;
    }
    
    .selected-works-left {
        left: 0;
    }
    
    .selected-works-right {
        right: 0;
    }
}