.section {
    width: 100vw;
    height: 100vh;
}

.section-1-center {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.section-1-logo {
    width: 200px;
    height: 58px;
    background-size: 100%;
    background-repeat: no-repeat;
}