.section {
    width: 100vw;
    height: 100vh;
}

.section-1-center {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.section-1-logo {
    width: 200px;
    height: 58px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    opacity: 0;
}

.section.show .section-1-logo {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.section-1-text {
    font-size: 12pt;
    opacity: 0;
}

.section.show .section-1-text {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.section-1-about-us {
    font-size: 10pt;
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    opacity: 0;
}

.section.show .section-1-about-us {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.section-1-about-us:hover > .arrow {
    margin-left: 15px;
}

.arrow {
    display: inline-block;
    width: 30px;
    height: 12px;
    margin-bottom: -3px;
    margin-left: 10px;

    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 0.3s;
}