.content {
    background-color: #F1F1F1;
}

.section-1-center {
    position: absolute;
}

.section-1-title {
    text-align: center;
    opacity: 0;
}

.section-1-works-container {
    cursor: pointer;
    opacity: 0;
}

.section-1.show .section-1-works-container {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.section-1-description {
    text-align: center;
    font-family: copperplate-light;
}

.section-1-down-icon {
    margin: 5px auto 0;
    background-size: 100%;
    background-repeat: no-repeat;

    -webkit-animation-name: section-1-down-icon-anim;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: section-1-down-icon-anim;
    -moz-animation-duration: 2s;
    -moz-animation-fill-mode: both;
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: section-1-down-icon-anim;
    -ms-animation-duration: 2s;
    -ms-animation-fill-mode: both;
    -ms-animation-iteration-count: infinite;
    -o-animation-name: section-1-down-icon-anim;
    -o-animation-duration: 2s;
    -o-animation-fill-mode: both;
    -o-animation-iteration-count: infinite;
    animation-name: section-1-down-icon-anim;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@-webkit-keyframes section-1-down-icon-anim {
    50% {
        -webkit-transform: translateY(5px);
    }

    100% {
        -webkit-transform: translateY(0px);
    }
}

@keyframes section-1-down-icon-anim {
    50% {
        -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
        -o-transform: translateY(5px);
        transform: translateY(5px);
    }

    100% {
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.section-2 .show[data-anim="fade-anim"] {
    -webkit-animation-name: fade-out-anim;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: fade-out-anim;
    -moz-animation-duration: 0.6s;
    -moz-animation-fill-mode: forwards;
    -ms-animation-name: fade-out-anim;
    -ms-animation-duration: 0.6s;
    -ms-animation-fill-mode: forwards;
    -o-animation-name: fade-out-anim;
    -o-animation-duration: 0.6s;
    -o-animation-fill-mode: forwards;
    animation-name: fade-out-anim;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

.section-2 {
    height: auto;
    overflow-y: auto;
}

.selected-works-title {
    text-align: center;
    opacity: 0;
}

.selected-works-container {
    overflow-y: auto;
    margin: 0 auto;
}

.selected-works-item-container, .archived-works-item-container {
    opacity: 0;
    position: relative;
    overflow: hidden;
}

.image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.selected-works-item, .archived-works-item {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px #555;
}

.archived-works-title {
    text-align: center;
    opacity: 0;
}

.archived-works-container {
    overflow-y: auto;
    margin: 0 auto;
}

@media all and (max-width: 1024px) {
    .section-1-center {
        display: block;
        top: 80vw;
        width: 100vw;
        text-align: center;

        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .section-1-title {
        font-size: 4vw;
    }

    .section-1-description {
        font-size: 4vw;
        margin-top: 5vw;
    }

    .section-1-down-icon {
        width: 7vw;
        height: 7vw;
        margin: 1vw auto 0;
    }

    .selected-works-title {
        font-size: 4vw;
        margin-bottom: 10vw;
        margin-top: 20vw;
    }

    .selected-works-container {
        width: 100vw;
    }

    .selected-works-item-container, .archived-works-item-container {
        display: block;
        width: 80vw;
        height: 80vw;
        margin: 0 auto 5vw;
    }

    .archived-works-title {
        font-size: 4vw;
        margin: 20vw 0 10vw;
    }

    .archived-works-container {
        width: 100vw;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .section-1-center {
        top: 65vw;
    }
    
    .section-1-down-icon {
        width: 7vw;
        height: 7vw;
        margin: 1vw auto 0;
    }

    .selected-works-container {
        text-align: center;
    }

    .selected-works-item-container, .archived-works-item-container {
        display: inline-block;
        width: 28vw;
        height: 28vw;
        margin-right: 3vw;
        margin-bottom: 5vw;
    }

    .selected-works-item-container:nth-child(3n) {
        margin-right: 0;
    }

    .archived-works-container {
        width: 59vw;
        margin: 0 auto;
    }

    .archived-works-item-container:nth-child(2n) {
        margin-right: 0;
    }
}

@media all and (min-width: 1025px) {
    .section-1-center {
        top: 50%;
        left: 50%;
        display: inline-block;

        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .section-1-description {
        margin-top: 20px;
    }

    .section-1-down-icon {
        width: 30px;
        height: 30px;
    }

    .selected-works-title {
        font-size: 12pt;
        margin-bottom: 100px;
        margin-top: 100px;
    }

    .selected-works-container {
        width: 1110px;
    }

    .selected-works-item-container, .archived-works-item-container {
        display: inline-block;
        width: 300px;
        height: 300px;
        margin-right: 100px;
        margin-bottom: 50px;
    }

    .selected-works-item-container:nth-child(3n) {
        margin-right: 0;
    }

    .archived-works-title {
        margin: 100px 0;
    }

    .archived-works-container {
        width: 710px;
    }

    .archived-works-item-container:nth-child(2n) {
        margin-right: 0;
    }
}