* {
  font-family: copperplate-bold;
  outline: 0;
  margin: 0;
  padding: 0;

  -ms-touch-action: pan-x pan-y;
  touch-action: manipulation;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

body {
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

@-webkit-keyframes fade-out-anim {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 15px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
}

@keyframes fade-out-anim {
  0% {
    opacity: 0;
    -moz-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    -o-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }

  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.content .section.show [data-anim="fade-anim"] {
  -webkit-animation-name: fade-out-anim;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: fade-out-anim;
  -moz-animation-duration: 0.6s;
  -moz-animation-fill-mode: forwards;
  -ms-animation-name: fade-out-anim;
  -ms-animation-duration: 0.6s;
  -ms-animation-fill-mode: forwards;
  -o-animation-name: fade-out-anim;
  -o-animation-duration: 0.6s;
  -o-animation-fill-mode: forwards;
  animation-name: fade-out-anim;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}